*/obj/*
*/bin/*
/.vs/*
*/.vscode/*
/packages/*

*/node_modules/
*/.expo/
*/dist/
*/npm-debug.*
*/*.jks
*/*.p8
*/*.p12
*/*.key
*/*.mobileprovision
*/*.orig.*
*/web-build/

*/.DS_Store

*/build/
**/static/**
*/.idea/
*/package-lock.json
/.fleet/*

/.idea/*

/TerrytData/*
CoverageReport/*
TerrytLookupAPI.sln.DotSettings.user
